
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@700&display=swap');

h1 {
    background-color: #3a3a3a;
    color: white;
    font-family: 'Roboto Slab', serif;
    padding: 2.5%;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
}